{% extends "mplate_base_bootstrap.html" %}

{% load static %}

{% block content %}
{% with mplate_form_7079_id="mplate_form_7079" mplate_form_6869_id="mplate_form_6869" %}

  <div class="row mt-5">
  <div class="col">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="mod6869-tab" data-toggle="tab" href="#mod6869" role="tab" aria-controls="mod6869" aria-selected="true">Model 68-69</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="mod7079-tab" data-toggle="tab" href="#mod7079" role="tab" aria-controls="mod7079" aria-selected="false">Model 70-79</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="mod6869" role="tabpanel" aria-labelledby="mod6869-tab">
      {% include "mplate_decoder/mplate_form_6869.html" with form_id=mplate_form_6869_id %}
    </div>
    <div class="tab-pane fade" id="mod7079" role="tabpanel" aria-labelledby="mod7079-tab">
      {% include "mplate_decoder/mplate_form_7079.html" with form_id=mplate_form_7079_id %}
    </div>
  </div>

  </div>
  </div>
{% endwith %}
{% endblock %}

{% block javascript %}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script type="text/javascript" src="{% static 'js/ajaxformsubmit.js' %}"></script>

{% endblock %}
